@use "../../variables" as v;

.sorting-bar-wrapper {
  position: fixed;
  width: 100%;
  padding: 52px 0 16px 0;
  background-color: v.$primary-bg;
  z-index: 2;
  @media screen and (max-width: 768px) {
    padding: 24px 0 16px 0;
  }
}

@mixin state($isTablet) {
  margin-left: 272px !important;
  @media screen and (max-width: 600px) {
    margin-left: 16px !important;
  }

  @if $isTablet {
    margin-left: 32px !important;
    @media screen and (max-width: 600px) {
      margin-left: 16px !important;
    }
  }
}

.sorting-bar {
  @include state($isTablet: false);
}
.sorting-bar.ml32 {
  @include state($isTablet: true);
}

@mixin decoration($isActive) {
  text-decoration: none;

  @if $isActive {
    text-decoration: underline;
  }
}

button.sorting-btn {
  text-transform: none;
  font-size: 16px;
  color: wheat;

  @include decoration($isActive: false);

  &.active {
    @include decoration($isActive: true);
  }
}
